<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net472" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.340.80" targetFramework="net472" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net472" />
</packages>